<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace should not be null -->
<mapper namespace="com.yiwen.mapper.BrandMapper">

    <resultMap id = "brandResultMap" type="com.yiwen.pojo.Brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into tb_brand(brand_name, company_name, ordered, description, status)
        values(#{brandName}, #{companyName}, #{ordered}, #{description}, #{status});
    </insert>

    <update id="update">
        update tb_brand
        set brand_name = #{brandName},
            company_name = #{companyName},
            ordered = #{ordered},
            description = #{description},
            status = #{status}
        where id = #{id}
    </update>

    <select id="selectAll" resultType="com.yiwen.pojo.Brand" resultMap="brandResultMap">
        select *
        from tb_brand;
    </select>

    <select id="selectById" parameterType="int" resultMap="brandResultMap">
        select * from tb_brand where id = ${id}; <!--${} and #{} both do the job but ${}has sql injection problem -->
    </select>

<!--    <select id="selectByCondition" resultType="com.yiwen.pojo.Brand" resultMap="brandResultMap">-->
<!--        select *-->
<!--        from tb_brand-->
<!--        where status = #{status}-->
<!--        and company_name like #{companyName}-->
<!--        and brand_name like #{brandName}-->
<!--    </select>-->

    <!--dynamic query-->
    <select id="selectByCondition" resultType="com.yiwen.pojo.Brand" resultMap="brandResultMap">
        select *
        from tb_brand
        <where>
            <if test = "status != null">
                and status = #{status}
            </if>
            <if test = "companyName != null and companyName != ''">
                and company_name like #{companyName}
            </if>
            <if test = "brandName != null and brandName != ''">
                and brand_name like #{brandName}
            </if>
        </where>
    </select>


</mapper>